# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

pids
*.pid
*.seed
*.pid.lock

coverage
*.lcov
.grunt
bower_components
.lock-wscript
build/Release
node_modules/
jspm_packages/
typings/
.npm

.eslintcache

.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

.node_repl_history
*.tgz
*.zip
.yarn-integrity
.env
.env.test

dist
build
es
lib
.cache
.idea
.vscode
target
