.met-tree {
  position: relative;

  // loading
  .tree-loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    display: none;
    &.show {
      display: block;
    }
    .tree-loading-content {
      margin: 0 auto;
    }
  }

  // node
  .tree-node {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;

    // action icon
    .tree-icon {
      display: block;
      width: 16px;
      height: 16px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      cursor: default;

      // 选择器
      &.selection {
        cursor: pointer;
        &.all {
          background-image: url("./assets/tree/select_all.svg");
        }
        &.half {
          background-image: url("./assets/tree/select_half.svg");
        }
        &.none {
          background-image: url("./assets/tree/select_none.svg");
        }
      }

      // 折叠按钮
      &.expanded {
        cursor: pointer;
        &.close {
          background-image: url("./assets/tree/arrow_right.svg");
        }
        &.open {
          background-image: url("./assets/tree/arrow_down.svg");
        }
      }
    }

    // node
    .tree-node {
      .tree-node-content {}
    }
  }
}
